spring.jpa.database-platform: org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation: true
spring.jpa.defer-datasource-initialization: true


server:
  port: 8080

springdoc:
  api-docs.path: /api-docs

spring:
  profiles:
    active: ${ENV:dev}
  sql:
    init:
      mode: always
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
  jackson:
    mapper:
      accept-case-insensitive-enums: true
notifications:
  enabled: ${NOTIFICATIONS_ENABLED:true}
pkfl:
  trus: ${TEAM_URL:https://pkfl.cz/tym/s1128}
  table: ${TABLE_URL:https://pkfl.cz/liga/s179/s2vse/s37?t=prubez}
  login_page: ${PKFL_LOGIN_PAGE:https://pkfl.cz/admin/auth/in}
  login_mail: ${PKFL_LOGIN_MAIL}
  login_password: ${PKFL_LOGIN_PASSWORD}

